{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API (DNS + Web3 subset)",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "paths": {
    "/accounts/{account_id}/dns_records/usage": {
      "get": {
        "description": "Get the current DNS record usage and quota for an account. May include internal DNS usage and quota.",
        "operationId": "dns-records-for-an-account-get-usage",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_dns_response_account_usage"
                }
              }
            },
            "description": "Get DNS Record Usage response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/dns-records_api-response-common-failure"
                }
              }
            },
            "description": "Get DNS Record Usage response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get DNS Record Usage for Account",
        "tags": [
          "DNS Records for an Account"
        ],
        "x-api-token-group": [
          "Account DNS Settings Write",
          "Account DNS Settings Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones": {
      "get": {
        "description": "Lists, searches, sorts, and filters your zones. Listing zones across more than 500 accounts\nis currently not allowed.\n",
        "operationId": "zones-get",
        "parameters": [
          {
            "examples": {
              "Basic Query": {
                "summary": "Simple Query",
                "value": "example.com"
              },
              "Contains Query": {
                "summary": "Contains Query",
                "value": "contains:.org"
              },
              "Ends With Query": {
                "summary": "Ends With Query",
                "value": "ends_with:arpa"
              },
              "Starts With Query": {
                "summary": "Starts With Query",
                "value": "starts_with:dev"
              }
            },
            "in": "query",
            "name": "name",
            "schema": {
              "description": "A domain name. Optional filter operators can be provided to extend refine the search:\n  * `equal` (default)\n  * `not_equal`\n  * `starts_with`\n  * `ends_with`\n  * `contains`\n  * `starts_with_case_sensitive`\n  * `ends_with_case_sensitive`\n  * `contains_case_sensitive`\n",
              "maxLength": 253,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "description": "Specify a zone status to filter by.",
              "enum": [
                "initializing",
                "pending",
                "active",
                "moved"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "account.id",
            "schema": {
              "description": "Filter by an account ID.",
              "type": "string"
            }
          },
          {
            "examples": {
              "Basic Query": {
                "summary": "Simple Query",
                "value": "Dev Account"
              },
              "Contains Query": {
                "summary": "Contains Query",
                "value": "contains:Test"
              }
            },
            "in": "query",
            "name": "account.name",
            "schema": {
              "description": "An account Name. Optional filter operators can be provided to extend refine the search:\n  * `equal` (default)\n  * `not_equal`\n  * `starts_with`\n  * `ends_with`\n  * `contains`\n  * `starts_with_case_sensitive`\n  * `ends_with_case_sensitive`\n  * `contains_case_sensitive`\n",
              "maxLength": 253,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Page number of paginated results.",
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 20,
              "description": "Number of zones per page.",
              "maximum": 50,
              "minimum": 5,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "description": "Field to order zones by.",
              "enum": [
                "name",
                "status",
                "account.id",
                "account.name",
                "plan.id"
              ],
              "example": "status",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "description": "Direction to order zones.",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "match",
            "schema": {
              "default": "all",
              "description": "Whether to match all search requirements or at least one (any).",
              "enum": [
                "any",
                "all"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zones_api-response-common",
                  "properties": {
                    "result_info": {
                      "$ref": "#/components/schemas/zones_result_info"
                    },
                    "result": {
                      "items": {
                        "$ref": "#/components/schemas/zones_zone"
                      },
                      "type": "array"
                    }
                  }
                }
              }
            },
            "description": "List Zones response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zones_api-response-common-failure"
                }
              }
            },
            "description": "List Zones response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Zones",
        "tags": [
          "Zone"
        ],
        "x-api-token-group": [
          "Zone Zone Read"
        ]
      },
      "post": {
        "operationId": "zones-post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "account": {
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/zones_identifier"
                      }
                    },
                    "type": "object"
                  },
                  "name": {
                    "$ref": "#/components/schemas/zones_name"
                  },
                  "type": {
                    "$ref": "#/components/schemas/zones_type"
                  }
                },
                "required": [
                  "name",
                  "account"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zones_api-response-common",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/zones_zone"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Create Zone response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zones_api-response-common-failure"
                }
              }
            },
            "description": "Create Zone response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create Zone",
        "tags": [
          "Zone"
        ],
        "x-api-token-group": [
          "Zone Zone Edit",
          "Zone DNS Edit"
        ]
      }
    },
    "/zones/{zone_id}": {
      "delete": {
        "description": "Deletes an existing zone.",
        "operationId": "zones-0-delete",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/zones_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zones_api-response-single-id"
                }
              }
            },
            "description": "Delete Zone response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zones_api-response-common-failure"
                }
              }
            },
            "description": "Delete Zone response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete Zone",
        "tags": [
          "Zone"
        ],
        "x-api-token-group": [
          "Zone Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#zone:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "get": {
        "operationId": "zones-0-get",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/zones_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zones_api-response-common",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/zones_zone"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Zone Details response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zones_api-response-common-failure"
                }
              }
            },
            "description": "Zone Details response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Zone Details",
        "tags": [
          "Zone"
        ],
        "x-api-token-group": [
          "Trust and Safety Write",
          "Trust and Safety Read",
          "Zero Trust: PII Read",
          "Zaraz Edit",
          "Zaraz Read",
          "Zaraz Admin",
          "Access: Apps and Policies Revoke",
          "Access: Apps and Policies Write",
          "Access: Apps and Policies Read",
          "Access: Apps and Policies Revoke",
          "Access: Mutual TLS Certificates Write",
          "Access: Organizations, Identity Providers, and Groups Write",
          "Zone Settings Write",
          "Zone Settings Read",
          "Zone Read",
          "DNS Read",
          "Workers Scripts Write",
          "Workers Scripts Read",
          "Zone Write",
          "Workers Routes Write",
          "Workers Routes Read",
          "Stream Write",
          "Stream Read",
          "SSL and Certificates Write",
          "SSL and Certificates Read",
          "Logs Write",
          "Logs Read",
          "Cache Purge",
          "Page Rules Write",
          "Page Rules Read",
          "Load Balancers Write",
          "Load Balancers Read",
          "Firewall Services Write",
          "Firewall Services Read",
          "DNS Write",
          "Apps Write",
          "Analytics Read",
          "Access: Apps and Policies Write",
          "Access: Apps and Policies Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#zone:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "patch": {
        "description": "Edits a zone. Only one zone property can be changed at a time.",
        "operationId": "zones-0-patch",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/zones_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "paused": true
                },
                "properties": {
                  "paused": {
                    "$ref": "#/components/schemas/zones_paused"
                  },
                  "plan": {
                    "description": "(Deprecated) Please use the `/zones/{zone_id}/subscription` API\nto update a zone's plan. Changing this value will create/cancel\nassociated subscriptions. To view available plans for this zone,\nsee Zone Plans.\n",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/zones_identifier"
                      }
                    },
                    "type": "object"
                  },
                  "type": {
                    "description": "A full zone implies that DNS is hosted with Cloudflare. A partial\nzone is typically a partner-hosted zone or a CNAME setup. This\nparameter is only available to Enterprise customers or if it has\nbeen explicitly enabled on a zone.\n",
                    "enum": [
                      "full",
                      "partial",
                      "secondary",
                      "internal"
                    ],
                    "example": "full",
                    "type": "string"
                  },
                  "vanity_name_servers": {
                    "$ref": "#/components/schemas/zones_vanity_name_servers"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zones_api-response-common",
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/zones_zone"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Edit Zone response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zones_api-response-common-failure"
                }
              }
            },
            "description": "Edit Zone response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Edit Zone",
        "tags": [
          "Zone"
        ],
        "x-api-token-group": [
          "Zone Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/dns_records": {
      "get": {
        "description": "List, search, sort, and filter a zones' DNS records.",
        "operationId": "dns-records-for-a-zone-list-dns-records",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "description": "Exact value of the DNS record name. This is a convenience alias for `name.exact`.\n",
              "example": "www.example.com",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name.exact",
            "schema": {
              "description": "Exact value of the DNS record name. Name filters are case-insensitive.\n",
              "example": "www.example.com",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name.contains",
            "schema": {
              "description": "Substring of the DNS record name. Name filters are case-insensitive.\n",
              "example": "w.example.",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name.startswith",
            "schema": {
              "description": "Prefix of the DNS record name. Name filters are case-insensitive.\n",
              "example": "www.example",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name.endswith",
            "schema": {
              "description": "Suffix of the DNS record name. Name filters are case-insensitive.\n",
              "example": ".example.com",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/dns-records_type"
            }
          },
          {
            "in": "query",
            "name": "content",
            "schema": {
              "description": "Exact value of the DNS record content. This is a convenience alias for `content.exact`.\n",
              "example": "127.0.0.1",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "content.exact",
            "schema": {
              "description": "Exact value of the DNS record content. Content filters are case-insensitive.\n",
              "example": "127.0.0.1",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "content.contains",
            "schema": {
              "description": "Substring of the DNS record content. Content filters are case-insensitive.\n",
              "example": "7.0.0.",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "content.startswith",
            "schema": {
              "description": "Prefix of the DNS record content. Content filters are case-insensitive.\n",
              "example": "127.0.",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "content.endswith",
            "schema": {
              "description": "Suffix of the DNS record content. Content filters are case-insensitive.\n",
              "example": ".0.1",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "proxied",
            "schema": {
              "$ref": "#/components/schemas/dns-records_proxied"
            }
          },
          {
            "in": "query",
            "name": "match",
            "schema": {
              "$ref": "#/components/schemas/dns-records_match"
            }
          },
          {
            "in": "query",
            "name": "comment",
            "schema": {
              "description": "Exact value of the DNS record comment. This is a convenience alias for `comment.exact`.\n",
              "example": "Hello, world",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "comment.present",
            "schema": {
              "description": "If this parameter is present, only records *with* a comment are returned.\n",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "comment.absent",
            "schema": {
              "description": "If this parameter is present, only records *without* a comment are returned.\n",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "comment.exact",
            "schema": {
              "description": "Exact value of the DNS record comment. Comment filters are case-insensitive.\n",
              "example": "Hello, world",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "comment.contains",
            "schema": {
              "description": "Substring of the DNS record comment. Comment filters are case-insensitive.\n",
              "example": "ello, worl",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "comment.startswith",
            "schema": {
              "description": "Prefix of the DNS record comment. Comment filters are case-insensitive.\n",
              "example": "Hello, w",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "comment.endswith",
            "schema": {
              "description": "Suffix of the DNS record comment. Comment filters are case-insensitive.\n",
              "example": "o, world",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tag",
            "schema": {
              "description": "Condition on the DNS record tag.\n\nParameter values can be of the form `<tag-name>:<tag-value>` to search for an exact `name:value` pair, or just `<tag-name>` to search for records with a specific tag name regardless of its value.\n\nThis is a convenience shorthand for the more powerful `tag.<predicate>` parameters.\nExamples:\n- `tag=important` is equivalent to `tag.present=important`\n- `tag=team:DNS` is equivalent to `tag.exact=team:DNS`\n",
              "example": "team:DNS",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tag.present",
            "schema": {
              "description": "Name of a tag which must be present on the DNS record. Tag filters are case-insensitive.\n",
              "example": "important",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tag.absent",
            "schema": {
              "description": "Name of a tag which must *not* be present on the DNS record. Tag filters are case-insensitive.\n",
              "example": "important",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tag.exact",
            "schema": {
              "description": "A tag and value, of the form `<tag-name>:<tag-value>`. The API will only return DNS records that have a tag named `<tag-name>` whose value is `<tag-value>`. Tag filters are case-insensitive.\n",
              "example": "greeting:Hello, world",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tag.contains",
            "schema": {
              "description": "A tag and value, of the form `<tag-name>:<tag-value>`. The API will only return DNS records that have a tag named `<tag-name>` whose value contains `<tag-value>`. Tag filters are case-insensitive.\n",
              "example": "greeting:ello, worl",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tag.startswith",
            "schema": {
              "description": "A tag and value, of the form `<tag-name>:<tag-value>`. The API will only return DNS records that have a tag named `<tag-name>` whose value starts with `<tag-value>`. Tag filters are case-insensitive.\n",
              "example": "greeting:Hello, w",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tag.endswith",
            "schema": {
              "description": "A tag and value, of the form `<tag-name>:<tag-value>`. The API will only return DNS records that have a tag named `<tag-name>` whose value ends with `<tag-value>`. Tag filters are case-insensitive.\n",
              "example": "greeting:o, world",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "$ref": "#/components/schemas/dns-records_search"
            }
          },
          {
            "in": "query",
            "name": "tag_match",
            "schema": {
              "$ref": "#/components/schemas/dns-records_tag_match"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "$ref": "#/components/schemas/dns-records_page"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "$ref": "#/components/schemas/dns-records_per_page"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "$ref": "#/components/schemas/dns-records_order"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "$ref": "#/components/schemas/dns-records_direction"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_dns_response_collection"
                }
              }
            },
            "description": "List DNS Records response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/dns-records_api-response-common-failure"
                }
              }
            },
            "description": "List DNS Records response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List DNS Records",
        "tags": [
          "DNS Records for a Zone"
        ],
        "x-api-token-group": [
          "DNS Read",
          "DNS Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Create a new DNS record for a zone.\n\nNotes:\n- A/AAAA records cannot exist on the same name as CNAME records.\n- NS records cannot exist on the same name as any other record type.\n- Domain names are always represented in Punycode, even if Unicode\n  characters were used when creating the record.\n",
        "operationId": "dns-records-for-a-zone-create-dns-record",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dns-records_dns-record-post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_dns_response_single"
                }
              }
            },
            "description": "Create DNS Record response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/dns-records_api-response-common-failure"
                }
              }
            },
            "description": "Create DNS Record response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create DNS Record",
        "tags": [
          "DNS Records for a Zone"
        ],
        "x-api-token-group": [
          "DNS Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/dns_records/batch": {
      "post": {
        "description": "Send a Batch of DNS Record API calls to be executed together.\n\nNotes:\n- Although Cloudflare will execute the batched operations in a single database transaction, Cloudflare's distributed KV store must treat each record change as a single key-value pair. This means that the propagation of changes is not atomic. See [the documentation](https://developers.cloudflare.com/dns/manage-dns-records/how-to/batch-record-changes/ \"Batch DNS records\") for more information.\n- The operations you specify within the /batch request body are always executed in the following order:\n\n    - Deletes\n    - Patches\n    - Puts\n    - Posts\n",
        "operationId": "dns-records-for-a-zone-batch-dns-records",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dns-records_dns-request-batch-object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_dns_response_batch"
                }
              }
            },
            "description": "Batch DNS Records response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/dns-records_api-response-common-failure"
                }
              }
            },
            "description": "Batch DNS Records response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Batch DNS Records",
        "tags": [
          "DNS Records for a Zone"
        ],
        "x-api-token-group": [
          "DNS Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:batch"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/dns_records/export": {
      "get": {
        "description": "You can export your [BIND config](https://en.wikipedia.org/wiki/Zone_file \"Zone file\") through this endpoint.\n\nSee [the documentation](https://developers.cloudflare.com/dns/manage-dns-records/how-to/import-and-export/ \"Import and export records\") for more information.",
        "operationId": "dns-records-for-a-zone-export-dns-records",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/plain": {
                "schema": {
                  "description": "Exported BIND zone file.",
                  "example": "www.example.com. 300 IN  A 127.0.0.1\n",
                  "type": "string"
                }
              }
            },
            "description": "Export DNS Records response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_api-response-common-failure"
                }
              }
            },
            "description": "Export DNS Records response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Export DNS Records",
        "tags": [
          "DNS Records for a Zone"
        ],
        "x-api-token-group": [
          "DNS Read",
          "DNS Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/dns_records/import": {
      "post": {
        "description": "You can upload your [BIND config](https://en.wikipedia.org/wiki/Zone_file \"Zone file\") through this endpoint. It assumes that cURL is called from a location with bind_config.txt (valid BIND config) present.\n\nSee [the documentation](https://developers.cloudflare.com/dns/manage-dns-records/how-to/import-and-export/ \"Import and export records\") for more information.",
        "operationId": "dns-records-for-a-zone-import-dns-records",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "description": "BIND config to import.\n\n**Tip:** When using cURL, a file can be uploaded using `--form 'file=@bind_config.txt'`.\n",
                    "example": "www.example.com. 300 IN  A 127.0.0.1",
                    "type": "string"
                  },
                  "proxied": {
                    "default": "false",
                    "description": "Whether or not proxiable records should receive the performance and security benefits of Cloudflare.\n\nThe value should be either `true` or `false`.",
                    "example": "true",
                    "type": "string"
                  }
                },
                "required": [
                  "file"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_dns_response_import_scan"
                }
              }
            },
            "description": "Import DNS Records response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/dns-records_api-response-common-failure"
                }
              }
            },
            "description": "Import DNS Records response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Import DNS Records",
        "tags": [
          "DNS Records for a Zone"
        ],
        "x-api-token-group": [
          "DNS Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/dns_records/scan": {
      "post": {
        "deprecated": true,
        "description": "Scan for common DNS records on your domain and automatically add them to your zone. Useful if you haven't updated your nameservers yet.",
        "operationId": "dns-records-for-a-zone-scan-dns-records",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_dns_response_import_scan"
                }
              }
            },
            "description": "Scan DNS Records response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/dns-records_api-response-common-failure"
                }
              }
            },
            "description": "Scan DNS Records response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Scan DNS Records",
        "tags": [
          "DNS Records for a Zone"
        ],
        "x-api-token-group": [
          "DNS Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        },
        "x-stainless-deprecation-message": "This endpoint is deprecated in favor of a new asynchronous version. Please use the [/scan/trigger](https://developers.cloudflare.com/api/resources/dns/subresources/records/methods/scan/trigger) and [/scan/review](https://developers.cloudflare.com/api/resources/dns/subresources/records/methods/scan/review) endpoints instead.\n"
      }
    },
    "/zones/{zone_id}/dns_records/scan/review": {
      "get": {
        "description": "Retrieves the list of DNS records discovered up to this point by the asynchronous scan. These records are temporary until explicitly accepted or rejected via `POST /scan/review`. Additional records may be discovered by the scan later.\n",
        "operationId": "dns-records-for-a-zone-review-dns-scan",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_dns_response_collection"
                }
              }
            },
            "description": "List of discovered DNS records"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_api-response-common-failure"
                }
              }
            },
            "description": "Scan review failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Scanned DNS Records",
        "tags": [
          "DNS Records for a Zone"
        ],
        "x-api-token-group": [
          "DNS Read",
          "DNS Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Accept or reject DNS records found by the DNS records scan. Accepted records will be permanently added to the zone, while rejected records will be permanently deleted.\n",
        "operationId": "dns-records-for-a-zone-apply-dns-scan-results",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dns-records_dns-request-review-scan-object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_dns_response_review_scan"
                }
              }
            },
            "description": "Records reviewed successfully"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_api-response-common-failure"
                }
              }
            },
            "description": "Review failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Review Scanned DNS Records",
        "tags": [
          "DNS Records for a Zone"
        ],
        "x-api-token-group": [
          "DNS Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/dns_records/scan/trigger": {
      "post": {
        "description": "Initiates an asynchronous scan for common DNS records on your domain. Note that this **does not** automatically add records to your zone. The scan runs in the background, and results can be reviewed later using the `/scan/review` endpoints. Useful if you haven't updated your nameservers yet.",
        "operationId": "dns-records-for-a-zone-trigger-dns-scan",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_dns_response_trigger_scan"
                }
              }
            },
            "description": "Trigger DNS Records Scan Response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/dns-records_api-response-common-failure"
                }
              }
            },
            "description": "Trigger DNS Records Scan response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Trigger DNS Record Scan",
        "tags": [
          "DNS Records for a Zone"
        ],
        "x-api-token-group": [
          "DNS Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/dns_records/usage": {
      "get": {
        "description": "Get the current DNS record usage for a zone, including the number of records and the quota limit.",
        "operationId": "dns-records-for-a-zone-get-usage",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_dns_response_zone_usage"
                }
              }
            },
            "description": "Get DNS Record Usage response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/dns-records_api-response-common-failure"
                }
              }
            },
            "description": "Get DNS Record Usage response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get DNS Record Usage",
        "tags": [
          "DNS Records for a Zone"
        ],
        "x-api-token-group": [
          "Zone DNS Settings Write",
          "Zone DNS Settings Read",
          "DNS Read",
          "DNS Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/dns_records/{dns_record_id}": {
      "delete": {
        "operationId": "dns-records-for-a-zone-delete-dns-record",
        "parameters": [
          {
            "in": "path",
            "name": "dns_record_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          },
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "id": {
                          "$ref": "#/components/schemas/dns-records_identifier"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Delete DNS Record response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "properties": {
                        "id": {
                          "$ref": "#/components/schemas/dns-records_identifier"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "$ref": "#/components/schemas/dns-records_api-response-common-failure"
                }
              }
            },
            "description": "Delete DNS Record response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete DNS Record",
        "tags": [
          "DNS Records for a Zone"
        ],
        "x-api-token-group": [
          "DNS Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "get": {
        "operationId": "dns-records-for-a-zone-dns-record-details",
        "parameters": [
          {
            "in": "path",
            "name": "dns_record_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          },
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_dns_response_single"
                }
              }
            },
            "description": "DNS Record Details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/dns-records_api-response-common-failure"
                }
              }
            },
            "description": "DNS Record Details response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "DNS Record Details",
        "tags": [
          "DNS Records for a Zone"
        ],
        "x-api-token-group": [
          "DNS Read",
          "DNS Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "patch": {
        "description": "Update an existing DNS record.\n\nNotes:\n- A/AAAA records cannot exist on the same name as CNAME records.\n- NS records cannot exist on the same name as any other record type.\n- Domain names are always represented in Punycode, even if Unicode\n  characters were used when creating the record.\n",
        "operationId": "dns-records-for-a-zone-patch-dns-record",
        "parameters": [
          {
            "in": "path",
            "name": "dns_record_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          },
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dns-records_dns-record-patch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_dns_response_single"
                }
              }
            },
            "description": "Patch DNS Record response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/dns-records_api-response-common-failure"
                }
              }
            },
            "description": "Patch DNS Record response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update DNS Record",
        "tags": [
          "DNS Records for a Zone"
        ],
        "x-api-token-group": [
          "DNS Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "put": {
        "description": "Overwrite an existing DNS record.\n\nNotes:\n- A/AAAA records cannot exist on the same name as CNAME records.\n- NS records cannot exist on the same name as any other record type.\n- Domain names are always represented in Punycode, even if Unicode\n  characters were used when creating the record.\n",
        "operationId": "dns-records-for-a-zone-update-dns-record",
        "parameters": [
          {
            "in": "path",
            "name": "dns_record_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          },
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/dns-records_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dns-records_dns-record-post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_dns_response_single"
                }
              }
            },
            "description": "Update DNS Record response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/dns-records_api-response-common-failure"
                }
              }
            },
            "description": "Update DNS Record response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Overwrite DNS Record",
        "tags": [
          "DNS Records for a Zone"
        ],
        "x-api-token-group": [
          "DNS Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/web3/hostnames": {
      "get": {
        "operationId": "web3-hostname-list-web3-hostnames",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_collection_response"
                }
              }
            },
            "description": "List Web3 Hostnames response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "List Web3 Hostnames error response (4XX)."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "List Web3 Hostnames response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List Web3 Hostnames",
        "tags": [
          "Web3 Hostname"
        ],
        "x-api-token-group": [
          "Web3 Hostnames Write",
          "Web3 Hostnames Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "operationId": "web3-hostname-create-web3-hostname",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/web3_create_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_single_response"
                }
              }
            },
            "description": "Create Web3 Hostname response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "Create Web3 Hostname error response (4XX)."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "Create Web3 Hostname response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create Web3 Hostname",
        "tags": [
          "Web3 Hostname"
        ],
        "x-api-token-group": [
          "Web3 Hostnames Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/web3/hostnames/{identifier}": {
      "delete": {
        "operationId": "web3-hostname-delete-web3-hostname",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          },
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-single-id"
                }
              }
            },
            "description": "Delete Web3 Hostname response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "Delete Web3 Hostname error response (4XX)."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "Delete Web3 Hostname response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete Web3 Hostname",
        "tags": [
          "Web3 Hostname"
        ],
        "x-api-token-group": [
          "Web3 Hostnames Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "get": {
        "operationId": "web3-hostname-web3-hostname-details",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          },
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_single_response"
                }
              }
            },
            "description": "Web3 Hostname Details response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "Web3 Hostname Details error response (4XX)."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "Web3 Hostname Details response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Web3 Hostname Details",
        "tags": [
          "Web3 Hostname"
        ],
        "x-api-token-group": [
          "Web3 Hostnames Write",
          "Web3 Hostnames Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "patch": {
        "operationId": "web3-hostname-edit-web3-hostname",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          },
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/web3_modify_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_single_response"
                }
              }
            },
            "description": "Edit Web3 Hostname response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "Edit Web3 Hostname error response (4XX)."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "Edit Web3 Hostname response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Edit Web3 Hostname",
        "tags": [
          "Web3 Hostname"
        ],
        "x-api-token-group": [
          "Web3 Hostnames Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/web3/hostnames/{identifier}/ipfs_universal_path/content_list": {
      "get": {
        "operationId": "web3-hostname-ipfs-universal-path-gateway-content-list-details",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          },
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_content_list_details_response"
                }
              }
            },
            "description": "IPFS Universal Path Gateway Content List Details response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "IPFS Universal Path Gateway Content List Details error response (4XX)."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "IPFS Universal Path Gateway Content List Details response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "IPFS Universal Path Gateway Content List Details",
        "tags": [
          "Web3 Hostname"
        ],
        "x-api-token-group": [
          "Web3 Hostnames Write",
          "Web3 Hostnames Read"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "put": {
        "operationId": "web3-hostname-update-ipfs-universal-path-gateway-content-list",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          },
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/web3_content_list_update_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_content_list_details_response"
                }
              }
            },
            "description": "Update IPFS Universal Path Gateway Content List response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "Update IPFS Universal Path Gateway Content List error response (4XX)."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "Update IPFS Universal Path Gateway Content List response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update IPFS Universal Path Gateway Content List",
        "tags": [
          "Web3 Hostname"
        ],
        "x-api-token-group": [
          "Web3 Hostnames Write"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      }
    },
    "/zones/{zone_id}/web3/hostnames/{identifier}/ipfs_universal_path/content_list/entries": {
      "get": {
        "operationId": "web3-hostname-list-ipfs-universal-path-gateway-content-list-entries",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          },
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_content_list_entry_collection_response"
                }
              }
            },
            "description": "List IPFS Universal Path Gateway Content List Entries response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "List IPFS Universal Path Gateway Content List Entries error response (4XX)."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "List IPFS Universal Path Gateway Content List Entries response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List IPFS Universal Path Gateway Content List Entries",
        "tags": [
          "Web3 Hostname"
        ],
        "x-api-token-group": [
          "Web3 Hostnames Write",
          "Web3 Hostnames Read"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "post": {
        "operationId": "web3-hostname-create-ipfs-universal-path-gateway-content-list-entry",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          },
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/web3_content_list_entry_create_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_content_list_entry_single_response"
                }
              }
            },
            "description": "Create IPFS Universal Path Gateway Content List Entry response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "Create IPFS Universal Path Gateway Content List Entry error response (4XX)."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "Create IPFS Universal Path Gateway Content List Entry response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create IPFS Universal Path Gateway Content List Entry",
        "tags": [
          "Web3 Hostname"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      }
    },
    "/zones/{zone_id}/web3/hostnames/{identifier}/ipfs_universal_path/content_list/entries/{content_list_entry_identifier}": {
      "delete": {
        "operationId": "web3-hostname-delete-ipfs-universal-path-gateway-content-list-entry",
        "parameters": [
          {
            "in": "path",
            "name": "content_list_entry_identifier",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          },
          {
            "in": "path",
            "name": "identifier",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          },
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-single-id"
                }
              }
            },
            "description": "Delete IPFS Universal Path Gateway Content List Entry response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "Delete IPFS Universal Path Gateway Content List Entry error response (4XX)."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "Delete IPFS Universal Path Gateway Content List Entry response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete IPFS Universal Path Gateway Content List Entry",
        "tags": [
          "Web3 Hostname"
        ],
        "x-api-token-group": [
          "Web3 Hostnames Write"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "get": {
        "operationId": "web3-hostname-ipfs-universal-path-gateway-content-list-entry-details",
        "parameters": [
          {
            "in": "path",
            "name": "content_list_entry_identifier",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          },
          {
            "in": "path",
            "name": "identifier",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          },
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_content_list_entry_single_response"
                }
              }
            },
            "description": "IPFS Universal Path Gateway Content List Entry Details response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "IPFS Universal Path Gateway Content List Entry Details error response (4XX)."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "IPFS Universal Path Gateway Content List Entry Details response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "IPFS Universal Path Gateway Content List Entry Details",
        "tags": [
          "Web3 Hostname"
        ],
        "x-api-token-group": [
          "Web3 Hostnames Write",
          "Web3 Hostnames Read"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "put": {
        "operationId": "web3-hostname-edit-ipfs-universal-path-gateway-content-list-entry",
        "parameters": [
          {
            "in": "path",
            "name": "content_list_entry_identifier",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          },
          {
            "in": "path",
            "name": "identifier",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          },
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/web3_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/web3_content_list_entry_create_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_content_list_entry_single_response"
                }
              }
            },
            "description": "Edit IPFS Universal Path Gateway Content List Entry response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "Edit IPFS Universal Path Gateway Content List Entry error response (4XX)."
          },
          "5XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/web3_api-response-common-failure"
                }
              }
            },
            "description": "Edit IPFS Universal Path Gateway Content List Entry response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Edit IPFS Universal Path Gateway Content List Entry",
        "tags": [
          "Web3 Hostname"
        ],
        "x-api-token-group": [
          "Web3 Hostnames Write"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      }
    }
  },
  "components": {
    "schemas": {
      "dns-records_AAAARecord": {
        "title": "AAAA Record",
        "type": "object",
        "$ref": "#/components/schemas/dns-records_dns-record-shared-fields",
        "properties": {
          "content": {
            "description": "A valid IPv6 address.",
            "example": "2400:cb00:2049::1",
            "format": "ipv6",
            "type": "string",
            "x-auditable": true
          },
          "private_routing": {
            "default": false,
            "description": "Enables private network routing to the origin.",
            "example": true,
            "type": "boolean",
            "x-auditable": true
          },
          "type": {
            "description": "Record type.",
            "enum": [
              "AAAA"
            ],
            "example": "AAAA",
            "type": "string",
            "x-auditable": true
          }
        }
      },
      "dns-records_ARecord": {
        "title": "A Record",
        "type": "object",
        "$ref": "#/components/schemas/dns-records_dns-record-shared-fields",
        "properties": {
          "content": {
            "description": "A valid IPv4 address.",
            "example": "198.51.100.4",
            "format": "ipv4",
            "type": "string",
            "x-auditable": true
          },
          "private_routing": {
            "default": false,
            "description": "Enables private network routing to the origin.",
            "example": true,
            "type": "boolean",
            "x-auditable": true
          },
          "type": {
            "description": "Record type.",
            "enum": [
              "A"
            ],
            "example": "A",
            "type": "string",
            "x-auditable": true
          }
        }
      },
      "dns-records_CAARecord": {
        "title": "CAA Record",
        "type": "object",
        "$ref": "#/components/schemas/dns-records_dns-record-shared-fields",
        "properties": {
          "content": {
            "description": "Formatted CAA content. See 'data' to set CAA properties.",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "data": {
            "description": "Components of a CAA record.",
            "properties": {
              "flags": {
                "description": "Flags for the CAA record.",
                "example": 1,
                "maximum": 255,
                "minimum": 0,
                "type": "number",
                "x-auditable": true
              },
              "tag": {
                "description": "Name of the property controlled by this record (e.g.: issue, issuewild, iodef).",
                "example": "issue",
                "type": "string",
                "x-auditable": true
              },
              "value": {
                "description": "Value of the record. This field's semantics depend on the chosen tag.",
                "type": "string",
                "x-auditable": true
              }
            },
            "type": "object"
          },
          "type": {
            "description": "Record type.",
            "enum": [
              "CAA"
            ],
            "example": "CAA",
            "type": "string",
            "x-auditable": true
          }
        }
      },
      "dns-records_CERTRecord": {
        "title": "CERT Record",
        "type": "object",
        "$ref": "#/components/schemas/dns-records_dns-record-shared-fields",
        "properties": {
          "content": {
            "description": "Formatted CERT content. See 'data' to set CERT properties.",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "data": {
            "description": "Components of a CERT record.",
            "properties": {
              "algorithm": {
                "description": "Algorithm.",
                "example": 8,
                "maximum": 255,
                "minimum": 0,
                "type": "number",
                "x-auditable": true
              },
              "certificate": {
                "description": "Certificate.",
                "type": "string",
                "x-auditable": true
              },
              "key_tag": {
                "description": "Key Tag.",
                "example": 1,
                "maximum": 65535,
                "minimum": 0,
                "type": "number",
                "x-auditable": true
              },
              "type": {
                "description": "Type.",
                "example": 9,
                "maximum": 65535,
                "minimum": 0,
                "type": "number",
                "x-auditable": true
              }
            },
            "type": "object"
          },
          "type": {
            "description": "Record type.",
            "enum": [
              "CERT"
            ],
            "example": "CERT",
            "type": "string",
            "x-auditable": true
          }
        }
      },
      "dns-records_CNAMERecord": {
        "title": "CNAME Record",
        "type": "object",
        "$ref": "#/components/schemas/dns-records_dns-record-shared-fields",
        "properties": {
          "content": {
            "description": "A valid hostname. Must not match the record's name.",
            "type": "string",
            "x-auditable": true
          },
          "settings": {
            "properties": {
              "flatten_cname": {
                "default": false,
                "description": "If enabled, causes the CNAME record to be resolved externally and the resulting address records (e.g., A and AAAA) to be returned instead of the CNAME record itself. This setting is unavailable for proxied records, since they are always flattened.",
                "example": true,
                "type": "boolean",
                "x-auditable": true
              }
            },
            "type": "object"
          },
          "type": {
            "description": "Record type.",
            "enum": [
              "CNAME"
            ],
            "example": "CNAME",
            "type": "string",
            "x-auditable": true
          }
        }
      },
      "dns-records_DNSKEYRecord": {
        "title": "DNSKEY Record",
        "type": "object",
        "$ref": "#/components/schemas/dns-records_dns-record-shared-fields",
        "properties": {
          "content": {
            "description": "Formatted DNSKEY content. See 'data' to set DNSKEY properties.",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "data": {
            "description": "Components of a DNSKEY record.",
            "properties": {
              "algorithm": {
                "description": "Algorithm.",
                "example": 5,
                "maximum": 255,
                "minimum": 0,
                "type": "number",
                "x-auditable": true
              },
              "flags": {
                "description": "Flags.",
                "example": 1,
                "maximum": 65535,
                "minimum": 0,
                "type": "number",
                "x-auditable": true
              },
              "protocol": {
                "description": "Protocol.",
                "example": 3,
                "maximum": 255,
                "minimum": 0,
                "type": "number",
                "x-auditable": true
              },
              "public_key": {
                "description": "Public Key.",
                "type": "string",
                "x-auditable": true
              }
            },
            "type": "object"
          },
          "type": {
            "description": "Record type.",
            "enum": [
              "DNSKEY"
            ],
            "example": "DNSKEY",
            "type": "string",
            "x-auditable": true
          }
        }
      },
      "dns-records_DSRecord": {
        "title": "DS Record",
        "type": "object",
        "$ref": "#/components/schemas/dns-records_dns-record-shared-fields",
        "properties": {
          "content": {
            "description": "Formatted DS content. See 'data' to set DS properties.",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "data": {
            "description": "Components of a DS record.",
            "properties": {
              "algorithm": {
                "description": "Algorithm.",
                "example": 3,
                "maximum": 255,
                "minimum": 0,
                "type": "number",
                "x-auditable": true
              },
              "digest": {
                "description": "Digest.",
                "type": "string",
                "x-auditable": true
              },
              "digest_type": {
                "description": "Digest Type.",
                "example": 1,
                "maximum": 255,
                "minimum": 0,
                "type": "number",
                "x-auditable": true
              },
              "key_tag": {
                "description": "Key Tag.",
                "example": 1,
                "maximum": 65535,
                "minimum": 0,
                "type": "number",
                "x-auditable": true
              }
            },
            "type": "object"
          },
          "type": {
            "description": "Record type.",
            "enum": [
              "DS"
            ],
            "example": "DS",
            "type": "string",
            "x-auditable": true
          }
        }
      },
      "dns-records_HTTPSRecord": {
        "title": "HTTPS Record",
        "type": "object",
        "$ref": "#/components/schemas/dns-records_dns-record-shared-fields",
        "properties": {
          "content": {
            "description": "Formatted HTTPS content. See 'data' to set HTTPS properties.",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "data": {
            "description": "Components of a HTTPS record.",
            "properties": {
              "priority": {
                "description": "Priority.",
                "example": 1,
                "maximum": 65535,
                "minimum": 0,
                "type": "number",
                "x-auditable": true
              },
              "target": {
                "description": "Target.",
                "example": ".",
                "type": "string",
                "x-auditable": true
              },
              "value": {
                "description": "Value.",
                "example": "alpn=\"h3,h2\" ipv4hint=\"127.0.0.1\" ipv6hint=\"::1\"",
                "type": "string",
                "x-auditable": true
              }
            },
            "type": "object"
          },
          "type": {
            "description": "Record type.",
            "enum": [
              "HTTPS"
            ],
            "example": "HTTPS",
            "type": "string",
            "x-auditable": true
          }
        }
      },
      "dns-records_LOCRecord": {
        "title": "LOC Record",
        "type": "object",
        "$ref": "#/components/schemas/dns-records_dns-record-shared-fields",
        "properties": {
          "content": {
            "description": "Formatted LOC content. See 'data' to set LOC properties.",
            "example": "IN LOC 37 46 46 N 122 23 35 W 0m 100m 0m 0m",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "data": {
            "description": "Components of a LOC record.",
            "properties": {
              "altitude": {
                "description": "Altitude of location in meters.",
                "example": 0,
                "maximum": 42849672.95,
                "minimum": -100000,
                "type": "number",
                "x-auditable": true
              },
              "lat_degrees": {
                "description": "Degrees of latitude.",
                "example": 37,
                "maximum": 90,
                "minimum": 0,
                "type": "number",
                "x-auditable": true
              },
              "lat_direction": {
                "description": "Latitude direction.",
                "enum": [
                  "N",
                  "S"
                ],
                "example": "N",
                "type": "string",
                "x-auditable": true
              },
              "lat_minutes": {
                "description": "Minutes of latitude.",
[...]
