version: '3.4'

services:
  node_1:
    image: terpnetwork/o-line:v0.0.1
    ports:
      - '26656:26656' # peer
      - '26657:26657' # rpc 
      - '1317:1317'   # api
      - '9090:9090'   # grpc
    environment:
      - MONIKER=node_1
      - CHAIN_ID=morocco-1
      - GENESIS_URL=https://raw.githubusercontent.com/terpnetwork/networks/main/mainnet/morocco-1/genesis.json
    volumes:
      - ./node-data:/root/.terp