OMNIBUS_IMAGE=ghcr.io/akash-network/cosmos-omnibus:v1.2.38-generic
MINIO_IPFS_IMAGE=ghcr.io/permissionlessweb/minio-ipfs:v0.0.9
# ─────────────────────────────────────────────────────────────
# O-Line Deployer — Environment Variable Defaults
# ── Encrypted Mnemonic (written by `oline encrypt`) ──
OLINE_ENCRYPTED_MNEMONIC=
OLINE_CHAIN_JSON=https://raw.githubusercontent.com/permissionlessweb/chain-registry/refs/heads/terpnetwork%40v5.0.4/terpnetwork/chain.json
OLINE_ADDRBOOK_URL=https://server-4.itrocket.net/mainnet/terp/addrbook.json
# ── Akash Network Endpoints ──
OLINE_RPC_ENDPOINT=https://rpc.akashnet.net:443
OLINE_GRPC_ENDPOINT=https://grpc.akashnet.net:443
# ── Snapshot Bootstrap ──
OLINE_SNAPSHOT_STATE_URL=https://server-4.itrocket.net/mainnet/terp/.current_state.json
OLINE_SNAPSHOT_BASE_URL=https://server-4.itrocket.net/mainnet/terp/
# ── Private Validator To Connect O-line to──
OLINE_VALIDATOR_PEER_ID=

TLS_CONFIG_URL=https://raw.githubusercontent.com/permissionlessweb/o-line/refs/heads/feat/tls/plays/scripts/tls-setup.sh
ENTRYPOINT_URL=https://raw.githubusercontent.com/permissionlessweb/o-line/refs/heads/feat/tls/plays/scripts/oline-entrypoint.sh

# ── Snapshot Export (S3) ──
OLINE_SNAPSHOT_DOWNLOAD_DOMAIN=snapshots.terp.network
OLINE_MINIO_PUBLIC_URL=
OLINE_SNAPSHOT_URL=
OLINE_SNAPSHOT_PATH=snapshots/terpnetwork
OLINE_SNAPSHOT_TIME=00:00:00
OLINE_SNAPSHOT_SAVE_FORMAT=tar.gz
OLINE_SNAPSHOT_METADATA_URL=
OLINE_SNAPSHOT_RETAIN=2 days
OLINE_SNAPSHOT_KEEP_LAST=2
OLINE_S3_BUCKET=terp-snapshots
OLINE_AUTOPIN_INTERVAL=300
# cloudflare api keys
OLINE_CF_API_TOKEN=
OLINE_CF_ZONE_ID=
WILDCARD_TLS_PRIVKEY_PATH=secrets
SECRETS_PATH=secrets

# snapshot/statesync node port & domains
RPC_DOMAIN_SNAPSHOT=statesync.terp.network
RPC_PORT_SNAPSHOT=26657
API_DOMAIN_SNAPSHOT=
API_PORT_SNAPSHOT=
P2P_DOMAIN_SNAPSHOT=statesync-peer.terp.network
P2P_PORT_SNAPSHOT=26656
GRPC_PORT_SNAPSHOT=
GRPC_DOMAIN_SNAPSHOT=
# seed/statesync node port & domains
RPC_DOMAIN_SEED=seed-rpc.terp.network
RPC_PORT_SEED=26657
API_DOMAIN_SEED=
API_PORT_SEED=
P2P_DOMAIN_SEED=seed.terp.network
P2P_PORT_SEED=26656
GRPC_DOMAIN_SEED=
GRPC_PORT_SEED=
# left forward node ports and domains
RPC_DOMAIN_FORWARD_L=
RPC_PORT_FORWARD_L=
API_DOMAIN_FORWARD_L=
API_PORT_FORWARD_L=
P2P_DOMAIN_FORWARD_L=
P2P_PORT_FORWARD_L=
GRPC_DOMAIN_FORWARD_L=
GRPC_PORT_FORWARD_L=
# left right node ports and domains
RPC_DOMAIN_FORWARD_R=
RPC_PORT_FORWARD_R=
API_DOMAIN_FORWARD_R=
API_PORT_FORWARD_R=
P2P_DOMAIN_FORWARD_R=
P2P_PORT_FORWARD_R=
GRPC_DOMAIN_FORWARD_R=
GRPC_PORT_FORWARD_R=
# left tackle node ports and domains
RPC_DOMAIN_TACKLE_L=
RPC_PORT_TACKLE_L=
API_DOMAIN_TACKLE_L=
API_PORT_TACKLE_L=
P2P_DOMAIN_TACKLE_L=
P2P_PORT_TACKLE_L=
GRPC_DOMAIN_TACKLE_L=
GRPC_PORT_TACKLE_L= 
# right tackle node ports and domains
RPC_DOMAIN_TACKLE_R=
RPC_PORT_TACKLE_R=
API_DOMAIN_TACKLE_R=
API_PORT_TACKLE_R=
P2P_DOMAIN_TACKLE_R=
P2P_PORT_TACKLE_R=
GRPC_DOMAIN_TACKLE_R=
GRPC_PORT_TACKLE_R=