name: publish
on:
  push:
    tags:
      - v*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 12
      matrix:
        include:
          - project: terpnetwork
            version: v4.2.2
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
        id: buildx
        with:
          install: true
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: |
          touch .env # Create dummy env file
          cd ${{matrix.project}}
          docker buildx bake -f build.yml --set node_1.tags=ghcr.io/${{ github.repository }}:${GITHUB_REF#refs/tags/}-${{matrix.project}}-${{matrix.version}}${{matrix.tag_suffix}} --push
  build_generic:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 15
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
        id: buildx
        with:
          install: true
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: |
          touch .env # Create dummy env file
          cd generic
          docker buildx bake -f build.yml --set node_1.tags=ghcr.io/${{ github.repository }}:${GITHUB_REF#refs/tags/}-generic --push
